

body {

      font-family: 'Slabo 27px', serif;
	  background-color:#0E0905;
	 }
	 
a{
	
	text-decoration: none;
}
a:link { COLOR:#772723; TEXT-DECORATION: none; }
a:visited { COLOR:#772723; TEXT-DECORATION: none; }
a:active { COLOR:#772723; TEXT-DECORATION: none; }
a:hover { COLOR: #5D4342; TEXT-DECORATION: none; }

h1{
	COLOR: #E79030;
	display:block;
	position:relative;
	  margin: 0 auto;
  top: 60px;

	
}

img{max-width:100%;
height:auto;}

.small {
 display: block;
  position: relative;
  width: 100%;
  height: auto;


}

.heads{

}
.list{
	
	display:block;
	position:relative;
	  margin: 0 auto;
	
}

@media (max-width: 680px) {
      .small{
		  left:20px;
		  width:85%;
		  top:30px;
	  }
	  .list{  padding: 0 20px;
  padding-top:80px;}
  .heads{padding:0 20px;}
    }

@media (min-width: 681px) {
           .small{
		  left:400px;
		  top:-220px;
		  width:60%;
		  max-width:600px;
		  height:auto;
	  }
	    .list{  padding: 0 40px;
  padding-top:80px;}
  .heads{padding:0 40px;}
    }
    }
	
	
	
