 

 

body {background-color:  #1A1A1D; position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;}

 


 
h1{ color: #83283b; font-size: 40px; font-family: 'Signika', sans-serif; padding-left:100px; padding-top:100px; padding-right:200px; padding-bottom:50px;}

h2 { color: #70514E; font-size: 20px; font-family: 'Signika', sans-serif; padding-left:100px; padding-top:10px;}
h2:link { color: #70514E; font-size: 20px; font-family: 'Signika', sans-serif; padding-left:100px; padding-top:10px;}
h2:visited { color: #70514E; font-size: 20px; font-family: 'Signika', sans-serif; padding-left:100px; padding-top:10px;}
h2:hover { color: #70514E; font-size: 20px; font-family: 'Signika', sans-serif; padding-left:100px; padding-top:10px;}

<style>
    #link a { color: #70514E; font-size: 20px; font-family: 'Signika', sans-serif; padding-right:50px;padding-top:10px; }
    #link a:link { color:#70514E;  font-size: 20px; font-family: 'Signika', sans-serif; padding-right:50px;padding-top:10px;}
    #link a:visited { color:#70514E;  font-size: 20px; font-family: 'Signika', sans-serif; padding-right:50px;padding-top:10px; }
    #link a:hover { color:#C66C27;  font-size: 20px; font-family: 'Signika', sans-serif; padding-right:50px;padding-top:10px; }
    #link a:active { color:#70514E;  font-size: 20px; font-family: 'Signika', sans-serif; padding-right:50px;padding-top:10px;}
</style>

 

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 100px;
    right: 100px;
	opacity: 1.0;
}
